img {
    float: right;
    max-height: 250px;
    max-width: 250px;

    border: 1px solid grey;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow:0px 0px 2px #000000;
    -moz-box-shadow:0px 0px 2px #000000;
    box-shadow:0px 0px 2px #000000;

    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.tooltip2 {
    font-family: Arial;
    font-weight: bold;
    font-size : 11px;

    color: white;
    display: inline-block;
    margin-left: 20px;
    padding: 2px 4px;
    border: 1px solid rgb(169, 68, 66);
    /*background-color: white;*/
    background-color: #a94442;
    -webkit-box-shadow: 0 0 5px rgba(169, 68, 66, 0.5);
    -moz-box-shadow: 0 0 5px rgba(169, 68, 66, 0.5);
    box-shadow: 0 0 5px rgba(169, 68, 66, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.hidden {
    display: none;
}